<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./main.css" rel="stylesheet">
    </head>
    <body>
        <section class="info">
            <div class="left">Mystery Word</div>
            <div class="center">{{#gamemode}}{{.}} Mode{{/gamemode}}</div>
            <div class="right">{{#guess}}You have {{.}} guesses left!{{/guess}}
        </section>
        {{^gamemode}}
        <section class="start">
            <form method="POST" action="/" class="type_form"> 
                <p><input type="radio" name="mode" value="Easy"> Easy</p>
                <p><input type="radio" name="mode" value="Normal"> Normal</p>
                <p><input type="radio" name="mode" value="Hard"> Hard</p> 
                <p><input type="submit"></p>
            </form>
        </section>
        {{/gamemode}}
        {{#gamemode}}
        <section class="hangman">
            {{#hangman}}{{.}}{{/hangman}}
        </section>
        <section class="game">
            <form method="POST" action="/">
            {{#solved}}
                {{#lost}}
                    <p>You lose!  Play again?</p>
                    <input type="hidden" name="status" value="lost">
                    <input type="submit">
                {{/lost}}     
                {{^lost}}
                    <p>You win! Play again?</p>
                    <input type="hidden" name="status" value="win">
                    <input type="submit">
                {{/lost}}
            {{/solved}}
            {{^solved}}
                <input type="text" name="choice">
                <input type="submit">
            {{/solved}}
            </form>
        </section>
        {{/gamemode}}
        <section class="letters">
            {{#gamemode}}
            <p>Letters Guessed: {{guessedLetters}} 
                {{^guessedLetters}}
                None 
                {{/guessedLetters}}</p>
            {{/gamemode}}
        </section>
    </body>
</html>