<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./main.css" rel="stylesheet">
    </head>
    <body>
        <section class="info">
            <div>Mystery Word</div>
            <div>{{#gamemode}}{{.}}{{/gamemode}}</div>
            <div>{{#guess}}You have {{.}} guesses left!{{/guesses}}
        </section>
    </body>
</html>