.type_form{
    display: flex;
}
.type_form p{
    margin: 0 10px;
}
.info{
    display:flex;
}
.info div{
    width: calc(100%/3);
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.hangman{
    font-size: 80px;
}
#red{
    color: red;
}