.type_form{
    display: flex;
}
.type_form p{
    margin: 0 10px;
}
.info{
    display:flex;
}
.info div{
    width: calc(100%/3);
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.hangman{
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
}
#red{
    color: red;
}
.output h3{
    margin: 0 3%;
}
.output{
    display: flex;
    justify-content: center;
}
.game{
    text-align: center;
}
.letters{
    text-align: center;
}
.start{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
.letters_input{
    margin: 25px 3% 5px;
}
.errors{
    text-align: center;
    font-size: 36px;
    color: darkgreen
}
body{
    background-color: lightgrey;
}